---
import Layout from '../layouts/Layout.astro';
import Landing from '../components/Landing.astro';
---

<Layout title="Welcome .">
    <div class="relative min-h-screen overflow-hidden z-0">
        <Landing /><Landing />
    </div>

  </Layout>
