---
let name = "Skweres"
---


<div class="relative min-h-screen overflow-hidden z-10">
    <div class="flex justify-center flex-col">
        <div class="hero min-h-screen">
                <div class="hero-content flex-col lg:flex-row-reverse gap-5">
                <div class="text-center lg:text-left">
                    <h1 class="text-5xl font-bold">Développeur Web</h1>
                    <p class="py-6">
                        Je suis un développeur web passionné par la création de sites web et d'applications web. Je suis spécialisé dans le développement front-end et back-end. Je suis également un passionné de nouvelles technologies et de développement de jeux vidéo.
                    </p>
                </div>
                <div class="flex justify-center flex-row flex-wrap input-buttons shrink-0 w-full max-w-lg">
                    <div class="mockup-code w-96 shadow-2xl">
                        <pre data-prefix="1" data-aos="fade-up" data-aos-delay="100"><code><span class="text-secondary">let</span> human = <span class="text-secondary">new</span> Developer<span class="text-warning">()</span>;</code></pre>
                        <pre data-prefix="2" data-aos="fade-up" data-aos-delay="300"><code><span class="text-secondary">human.<span class="text-secondary">setLastName</span><span class="text-warning">(</span><span class="text-success">"Skweres"</span><span class="text-warning">)</span></code></pre>
                        <pre data-prefix="3" data-aos="fade-up" data-aos-delay="500"><code><span class="text-secondary">human.<span class="text-secondary">setName</span><span class="text-warning">(</span><span class="text-success">"Oliwer"</span><span class="text-warning">)</span></code></pre>
                        <pre data-prefix="4" data-aos="fade-up" data-aos-delay="700"><code><span class="text-secondary">human.<span class="text-secondary">setAge</span><span class="text-warning">(</span><span class="text-accent">21</span><span class="text-warning">)</span></code></pre>
                        <pre data-prefix="5" data-aos="fade-up" data-aos-delay="900"><code><span class="text-secondary">human.<span class="text-secondary">setJob</span><span class="text-warning">(</span><span class="text-success">"Full Stack Web Dev."</span><span class="text-warning">)</span></code></pre>
                        <pre data-prefix="6" data-aos="fade-up" data-aos-delay="1100"><code><span class="text-secondary">human.<span class="text-secondary">setLocation</span><span class="text-warning">(</span><span class="text-success">"France"</span><span class="text-warning">)</span></code></pre>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>
