---
let name = "Skweres"
---

<div class="relative min-h-screen overflow-hidden z-0">
  <div class="flex justify-center flex-col">
      <div class="hero">
        <div class="hero-content flex-col">
          <div class="flex justify-center flex-col">
            <h1 class="text-5xl font-bold mb-5 text-center">Experiences</h1>
            <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
              <li>
                <div class="timeline-middle">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                </div>
                <div class="timeline-start md:text-end mb-10">
                  <time class="font-mono italic">2021</time>
                  <div class="text-lg font-black">Baccalauréat</div>
                  En 2021, j'ai obtenu mon baccalauréat scientifique avec mention assez bien avec les spécialités mathématiques et sciences de l'ingénieur. C'était un parcours très enrichissant et j'ai pu apprendre beaucoup de choses malgré la difficulté de l'année scolaire due à la pandémie.
                </div>
                <hr/>
              </li>
              <li>
                <hr />
                <div class="timeline-middle">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                </div>
                <div class="timeline-end mb-10">
                  <time class="font-mono italic">2021</time>
                  <div class="text-lg font-black">BTS SIO - SLAM</div>
                  Cette année j'ai rejoins le BTS SIO option SLAM (Solutions Logicielles et Applications Métiers) au lycée Saint Adjutor à Vernon. J'ai pu apprendre les bases de la programmation et de m'orienter petit à petit vers le développement web.
                </div>
                <hr />
              </li>
              <li>
                <hr />
                <div class="timeline-middle">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                </div>
                <div class="timeline-start md:text-end mb-10">
                  <time class="font-mono italic">2022</time>
                  <div class="text-lg font-black">Altameos</div>
                  J'ai eu la chance de faire mon stage de première année de BTS chez Altameos, une entreprise de développement web. J'ai été en charge d'un projet entier de création de site web pour un client. J'ai pu apprendre énormément de choses et j'ai pu mettre en pratique mes connaissances acquises en cours.
                </div>
                <hr />
              </li>
              <li>
                <hr />
                <div class="timeline-middle">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                </div>
                <div class="timeline-end mb-10">
                  <time class="font-mono italic">2023</time>
                  <div class="text-lg font-black">Altameos</div>
                  J'ai eu la chance de faire mon stage de deuxième année de BTS chez Altameos. Ce projet était réalisé en équipe avec d'autres élèves de ma classe. Nous avons réalisé un site web Angular pour une boutique de vente de matériel médical.
                </div>
                <hr />
              </li>
              <li>
                <hr />
                <div class="timeline-middle">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                </div>
                <div class="timeline-start md:text-end mb-10">
                  <time class="font-mono italic">2023</time>
                  <div class="text-lg font-black">Diplôme BTS SIO - SLAM</div>
                  J'ai obtenu mon diplôme de BTS SIO option SLAM en 2023, finissant major de ma promotion. J'ai énormément appris durant ces deux années et j'ai pu acquérir des compétences solides en développement web, assurant mon avenir professionnel. Je remercie mes professeurs pour leur enseignement et leur soutien.
                </div>
                <hr />
              </li>
              <li>
                <hr />
                <div class="timeline-middle">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                </div>
                <div class="timeline-end mb-10">
                  <time class="font-mono italic">2023</time>
                  <div class="text-lg font-black">IPSSI Paris - Bachelor Dev</div>
                  J'ai décidé de continuer mes études en intégrant l'IPSSI à Paris pour un Bachelor en développement web en alternance. J'ai pu apprendre de nouvelles technologies et de nouvelles méthodes de travail. J'ai également pu mettre en pratique mes compétences en entreprise.
                </div>
                <hr />
              </li>
              <li>
                <div class="timeline-middle">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                </div>
                <div class="timeline-start md:text-end mb-10">
                  <time class="font-mono italic">Aujourd'hui</time>
                  <div class="text-lg font-black">IMGT Group</div>
                  Actuellement, je suis en alternance chez IMGT Group en tant que développeur web. Je travail sur un projet interne de l'entreprise et j'ai pu apprendre énormément de choses. J'ai également pu mettre en pratique mes compétences acquises en cours pour réaliser des projets concrets.
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>
  </div>
</div>
<script>

</script>
